<section>
    <h1 class="text-main text-2xl font-bold py-4">All Categories</h1>

    <div class="grid gap-4 grid-cols-1 md:grid-cols-4 my-4">

        @for (category of categoryList(); track category._id) {
            <div class="border-2 hover:shadow-[1px_1px_10px_#4fa74f] transition-all duration-300">
                <div class="h-[300px]">
                    <img class="object-cover w-full h-full " [src]="category.image" [alt]="category.name">
                </div>
                
                <p class="p-4 text-center">{{category.name}}</p>
            </div>
        }
        
    </div>
</section>