<section>
    <h2 class="text-main text-2xl font-bold py-4">Popular Products</h2>


    

<nav class="bg-white border-gray-200 dark:bg-gray-900">
    <div class="flex flex-wrap items-center justify-between max-w-screen-xl mx-auto p-4">
        
        <div id="mega-menu" class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1">
            <ul class="flex flex-col mt-4 font-medium md:flex-row md:mt-0 md:space-x-8 rtl:space-x-reverse">
                <li>
                    <button (click)="toggleDropDown()" class="flex items-center justify-between w-full py-2 px-3 font-medium text-gray-900 border-b border-gray-100 md:w-auto hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700">
                        Filter By Category 
                        <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                        </svg>
                    </button>

                    @if(isDropDownOpen()){
                        <div class="absolute z-10 p-4 my-4 text-sm bg-white border border-gray-100 rounded-lg shadow-md dark:border-gray-700  dark:bg-gray-700">
                        
                            <ul class="grid gap-4 sm:grid-cols-1 md:grid-cols-4" aria-labelledby="mega-menu-dropdown-button">
                                
                                @for (category of categoryList(); track category._id) {
                                    <li>
                                        <a (click)="filterProduct(category.name)" class="cursor-pointer text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500">
                                            {{category.name}}
                                        </a>
                                    </li>
                                }
                                
                            </ul>
                            
                        </div>
                    }
                    
                </li>
                
            </ul>
        </div>
    </div>
</nav>








    <div class="grid gap-4 sm:grid-cols-1 md:grid-cols-4 lg:grid-cols-6 my-4">
        
        @for (product of productList(); track product.id) {
            <div class="product overflow-hidden bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            
                <div class="cursor-pointer" [routerLink]="['/details', product.id]">
                    <img class="rounded-t-lg" [src]="product.imageCover" [alt]="product.title" />
                    <div class="p-2">
                        <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{product.category.name}}</h3>
                        <h4 class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{product.title.split(" ", 2).join(" ")}}</h4>
                        
                        <div>
                            <app-star-rating [rating]="product.ratingsAverage"></app-star-rating>
                        </div>
                    </div>
                </div>
                <div class="p-2 flex justify-between items-center">
                    <span>{{product.price}}EGP</span>
                    <span class="cursor-pointer" (click)="toggleWishList(product)" >
                        <i [ngClass]="product.isInWishList ? 'fa-solid fa-heart text-red-500': 'fa-solid fa-heart text-gray-500'"></i>
                    </span>
                </div>
                <button class="btn-main w-full" (click)="addToCart(product.id)">Add To Cart</button>
            </div>
    
        }
        
        
    </div>
</section>